<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title th:text="'CityLife - ' + #{oauthError.title}">CityLife - oauth error</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}" />
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/normalize.css}" href="/static/css/normalize.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}" href="/static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div id="header" class="container-content" role="masthead">
    <img th:src="@{/static/images/logo-citylife.png}" src="/static/images/logo-citylife.png" alt="CityLife" style="width: 64px; height: 38px;" />
</div>

<div id="login-panel">
    <h1 class="login-panel-header container-content container-inverted container-blue">
        <img th:src="@{/static/images/logo-citylife.png}" src="/static/images/logo-citylife.png" alt="CityLife" style="width: 124px; height: 73px;" />
    </h1>
    <p class="container-content container-inverted container-blue-dark login-panel-instructions" th:text="#{oauthError.message}">Oauth message</p>
    <div class="container-content container-gray clearfix">
        <p th:text="${message} + ' (' + ${error.summary} + ')'">Message (summary)</p>
        <p th:text="#{oauthError.instruction}">Instruction for the user</p>
    </div>
</div>
</body>
</html>
